*,
*::before,
*::after {
    box-sizing: border-box;
}

*,
::placeholder {
    margin: 0;
    padding: 0;
    font: inherit;
}

input,
button,
textarea,
select {
    font: inherit;
}

body {
    display: grid;
    place-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    margin: 5rem;
    outline: 10px solid black;
}

.squareDiv {
    flex-grow: 1;
    border: 2px solid red;
}
