*,
*::before,
*::after {
    box-sizing: border-box;
}

*,
::placeholder {
    margin: 0;
    padding: 0;
    font: inherit;
}

input,
button,
textarea,
select {
    font: inherit;
}

body {
    display: grid;
    place-content: center;
}

.container {
    width: 960px;
    height: 960px;
    margin: 5rem;
    border: 10px solid black;
}
